figure img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
.mec{
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
.ifsp{
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    font-style: italic;
}
nav a:visited{
    color: darkmagenta;
}