table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    font-family:arial;
    text-align:center;
    width:35%;
    margin:20px;

}
th,td{
    border: 1px solid black;
    border-collapse: collapse;
    font-family:arial;
}
thead,tfoot{
    background-color: rgb(202, 201, 201);
    font-family:arial;
}